@import "color";
@import "media-queries";
@import "normalize";
@import "login";
@import "translation";
@import "nav";
@import "intro";
@import "game";
@import "price-prediction";
@import "lucky-spinner";
@import "jackpot-lottery";
@import "binary-option";
@import "defi";
@import "not-found";
@import "coming-soon";

body {
  background: color("black", "100");
  color: color("white", "base");
  font-family: SVN-Gilroy, sans-serif;
  overflow-x: hidden;
  font-weight: 300;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  flex-grow: 1;
}

header,
main,
footer {
  flex-shrink: 0;
}

/* common */
.relative {
  position: relative;
}

/* -------- app ------- */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* -------- app ------- */

.lamas-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -100;
}

/* -------- content -------
.lamas-content {
  margin-left: 5rem;
}*/

/* -------- header ------- */
.rvn-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10vh 0 10vh;
  z-index: 100;
  background-color: #101010;
  border: 1px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  .nav-link {
    color: #fff !important;
  }
  &__brand {
  }

  &__right {
     width: 25%;
    &__search {
      padding: 0 0 0 0.5rem;
      height: auto;
      width: 100%;
      background-color: #343434;
      border-color: #343434;
    }
    &__translate-button {
      box-sizing: border-box;
      height: auto;
      width: auto;
      text-align: center;
      padding: 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e85b25;
      font-size: 0.9rem;
      img {
        width: auto;
        height: auto;
      }
    }
  }
}

/* -------- main ------- */
.lamas-main {
  margin-top: 0rem;
  font-feature-settings: "pnum" on, "lnum" on;
  &__nav-open {
    margin-left: 14.5rem;
  }
  &__nav-close {
    margin-left: 5rem;
  }
}

/* -------- footer ------- */
.lamas-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Nunito;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
    letter-spacing: 0em;
    color: color("white", "600");
    margin: 0;
    width: 66.25rem;
    padding: 1.25rem 0.625rem;
    @include responsiveMax(SM) {
      flex-direction: column-reverse;
    }
    &__credit {
      min-width: 10rem;
      @include responsiveMax(SM) {
        margin-top: 1.5625rem;
      }
    }
    &__contact-container {
      display: flex;
      flex-direction: row;
      @include responsiveMax(SM) {
        flex-direction: column;
      }
      img {
        width: 1.25rem;
        cursor: pointer;
        @include responsiveMax(SM) {
          margin-top: 0.625rem !important;
        }
      }
      &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @include responsiveMax(SM) {
          margin-top: 1.5625rem;
          flex-direction: column;
        }
      }
      &__icons-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 1.25rem;
      }
    }
  }
}
