.lamas-coming-soon {
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height:  calc(100vh - 4rem);
  padding-top: 6.9375rem;
  padding-bottom: 6rem;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  &__body {
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
    background: radial-gradient(
                    244.78% 754.7% at 50% -4.81%,
                    rgba(255, 255, 255, 0.25) 0%,
                    rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
                    94.6% 94.6% at 115.68% 13.81%,
                    #14f195 0%,
                    rgba(20, 241, 149, 0) 100%
    ),
    linear-gradient(126.42deg, #9945ff 2.86%, rgba(153, 69, 255, 0) 207.33%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 30px rgba(138, 80, 230, 0.5);
    img {
      width: 1.25rem;
      display: inline-block;
    }
    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}

/* -------- modal ------- */
.coming-soon-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.125rem 6.875rem;
  &__body {
    font-family: Raleway;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 3.4375rem;
    letter-spacing: 0em;
    text-align: center;
    background: radial-gradient(
                    244.78% 754.7% at 50% -4.81%,
                    rgba(255, 255, 255, 0.25) 0%,
                    rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
                    94.6% 94.6% at 115.68% 13.81%,
                    #14f195 0%,
                    rgba(20, 241, 149, 0) 100%
    ),
    linear-gradient(126.42deg, #9945ff 2.86%, rgba(153, 69, 255, 0) 207.33%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 30px rgba(138, 80, 230, 0.5);
    img {
      width: 1.25rem;
      display: inline-block;
    }
    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}

