.lamas-game-info-section {
  display: flex;
  align-items: center;
  justify-content: center;
  &__body {
    width: 66.25rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.1875rem 0.625rem 12rem 0.625rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.875rem 2.5rem 2.1875rem 2.5rem;
    background: color("black", "600");
    border: 0.09375rem solid color("white", "700");
    border-radius: 0.625rem;
  }
  &__title {
    font-family: Raleway;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2.5625rem;
    letter-spacing: 0em;
    text-align: left;
    color: color("white", "base");
    margin-bottom: 3.125rem;
    text-shadow: 0px 0px 1.875rem color("purple", "400");
  }
  &__container {
    display: flex;
    flex-direction: row;
    grid-gap: 0.625rem;
    @include responsiveMax(MD) {
      flex-direction: column;
    }
    &__card {
      padding: 0.9375rem 1.5625rem 0.9375rem 1.25rem;
      background: color("dark-gray", "600");
      border-radius: 0.3125rem;
      &__title {
        font-family: Nunito;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1rem;
        letter-spacing: 0em;
        text-align: left;
        color: color("dark-gray", "400");
        margin-bottom: 0.25rem;
      }
      p {
        display: inline-block;
      }
      &__value {
        font-family: Raleway;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 900;
        line-height: 1.4275rem;
        letter-spacing: 0em;
        text-align: left;
        color: color("green", "200");
      }
      &__additional {
        font-family: Raleway;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 900;
        line-height: 0.875rem;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
  &__img {
    position: absolute;
    right: 2rem;
    top: 4.625rem;
    img {
      max-width: 100%;
      width: auto;
      mix-blend-mode: lighten;
    }
    @include responsiveMax(MD) {
      max-width: 17rem;
    }
    @include responsiveMax(SM) {
      max-width: 12rem;
    }
  }
}

.lamas-game-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  &__body {
    width: 66.25rem;
    padding: 18.75rem 0.625rem 15.625rem 0.625rem;
  }
  &__title {
    font-family: Raleway;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.75rem;
    letter-spacing: 0em;
    text-align: center;
    color: color("white", "base");
  }
  &__subtitle {
    color: color("white", "540");
    margin-top: 0.25rem;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 1.875rem;
  }
  &__content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1.25rem;
    &__card {
      box-sizing: border-box;
      border-radius: 0.625rem;
      padding: 1.25rem 1.5625rem 1.5625rem 1.5625rem;
      background: color("dark-gray", "600");
      &__title {
        width: 3.8125rem;
        padding: 0.3125rem 0;
        font-family: Nunito;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 800;
        line-height: 0.875rem;
        letter-spacing: 0em;
        text-align: center;
        color: color("light-gray", "500");
        background: color("purple", "200");
        border-radius: 0.1875rem;
        margin-bottom: 0.5rem;
      }
      &__subtitle {
        font-family: Raleway;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 900;
        line-height: 1.4375rem;
        letter-spacing: 0em;
        text-align: left;
        color: color("white", "base");
        margin-bottom: 0.9375rem;
      }
      &__desc {
        font-family: Nunito;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.375rem;
        letter-spacing: 0em;
        text-align: left;
        color: color("light-gray", "500");
        opacity: 0.5;
      }
    }
  }
}

.lamas-game-help {
  display: flex;
  align-items: center;
  justify-content: center;
  &__body {
    width: 66.25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10.625rem;
    img {
      width: 9.375rem;
    }
  }
  &__img {
    margin-bottom: 0.609375rem;
    text-align: center;
  }
  &__title {
    font-family: Raleway;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.75rem;
    letter-spacing: 0em;
    text-align: center;
    color: color("white", "base");
  }
  &__subtitle {
    color: color("white", "540");
    margin-top: 0.25rem;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 0.625rem;
  }
  &__btn {
    padding: 0.3125rem 0.625rem;
    text-align: center;
    font-family: Nunito;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
    letter-spacing: 0em;
    text-align: center;
    color: color("white", "base");
    background: color("purple", "200");
    border-radius: 0.1875rem;
    cursor: pointer;
  }
}

.lamas-game-table-pagination {
  margin-top: 1.5625rem;
  a {
    display: inline-block;
    font-family: Nunito;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    width: 1.75rem;
    background: color("dark-gray", "650");
    border-radius: 0.1875rem;
    margin: 0 0.15625rem;
    color: color("dark-gray", "400");
    padding: 0.375rem 0;
    width: 1.75rem;
    &.active {
      background: color("purple", "200");
      color: color("light-gray", "200");
    }
  }
}
