.rvn-season {
    &__body {
        padding: 13vh 5vw 0 5vw;
    }
    &__ranking {
        
    }
    &__content {
        position: relative;
        width: 100%;
        z-index: 1;
        padding-top: 2.5vh;
        border-top: 1px solid #fff;
        h6 {
            position: absolute;
            font-size: 16px;
            font-weight: 700;
            z-index: 2;
            top: -10px;
            background-color: #1c1c1c;
            padding-right: 1rem;
        }
    }
}